$text-secondary-color: white;

$border-color: black;
$bar-background: #333;

$primary-background: #575757;
$card-backgound: #dededf;

$generic-button-color: #007bff;
$generic-button-hover: #0056b3;
$counter-inc-button: #4caf50;
$counter-dec-button: #f44336;

$test-color-1: yellow;
$test-color-2: violet;
