@import "./colors.scss";
@import "./mixins.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $primary-background;
}

.widgets {
  @include card;
  .card-content {
    .counter > .button-container {
      @include button-container($counter-inc-button, $counter-dec-button);
    }
    .greeting-container {
      @include generic_button;
    }

    .toggle-widget {
      @include generic_button;
    }

    .font-size-adjuster > .button-container {
      @include button-container($generic-button-color, $generic-button-hover);
    }
    .text-alignment-widget {
      @include alignment-container;
    }
    .clock-widget {
      @include clock-widget();
    }
    .color-changing-widget {
      @include color-changer;
    }
    .rgb-color-widget {
      @include color-box;
    }
    .weather-widget {
      @include weather;
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: $bar-background;
  color: $text-secondary-color;
}
