@import "colors.scss";

@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@mixin card {
  background-color: $card-backgound;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 2%;
  margin: 20vh 0;
  text-align: center;
  width: 90%;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@mixin generic_button(
  $direction: column,
  $justify: center,
  $standard-width: 50%
) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
  .button {
    width: $standard-width;
    flex: 1 1 30px;
    margin: 2%;
    color: $text-secondary-color;
    background-color: $generic-button-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $generic-button-hover;
    }
    .button-2 {
      padding: 2%;
    }
  }
}

@mixin button-container(
  $button-1: $test-color-1,
  $button-optional-color: $test-color-2
) {
  @include grid;
  .button {
    width: 100%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: $button-1;
    color: $text-secondary-color;
    &:hover {
      background-color: $button-optional-color;
    }

    &.inc-button {
      background-color: $counter-inc-button;
    }

    &.dec-button {
      background-color: $button-optional-color;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

@mixin alignment-container {
  .alignment-buttons {
    width: 100%;
    @include generic_button(column, space-between, 80%);
    padding: 5%;
  }

  .text-content {
    width: 90%;

    padding: 1%;
    border: 1px solid #ccc;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

@mixin clock-widget {
  .clock-display {
    font-weight: bold;
  }
}

@mixin color-changer {
  h1 {
    font-size: 4rem;
  }
  input {
    padding: 5px;
    margin-bottom: 2%;
  }
}

@mixin color-box {
  .color-box {
    width: 70%;
    height: 100px;
    h2 {
      text-align: center;
      padding: 2%;
    }
  }
  .sliders {
    padding-top: 5%;
    width: 90%;
    input[type="range"] {
      width: 80%;
      flex: 1;
    }
  }
  label {
    width: 30px;
    padding-right: 2%;
  }
}

@mixin size-adjuster {
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .adjustable-text-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 10px;
    padding-top: 5%;

    .button-adjuster {
      width: 100%;
      cursor: pointer;
    }
  }
}
